*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    place-items: center;
    align-content: center;
}
form{
    margin-top: 34px;
    width: 300px;
    height: 400px;
    padding: 7px;
    text-align: start;
    text-wrap: wrap;
    text-overflow: clip;
    border: 3px ridge grey;
    fieldset{
        display: grid;
        gap: 12px;
        padding: 7px;
    }
}

label{
    font-size: 14px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 500;
}

div{
    display: grid;
    
}